#idea-recorder {
  box-sizing: border-box;
  background-color: #fff;

  text-align: center;
  label {
    display: block;
    color: #ccc;
    margin: 10px;
  }
  input {
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    width: 600px;
  }
}
