#pile-creator {
  @include modal;
  &.summoned {
    @include visible-modal;
  }

  .pile-creator {
    @include modal-content;
    padding: 10px;
    text-align: left;
    label {
      display: block;
    }
    input {
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px;
    }
    button {
      display: inline-block;
    }
  }

}
