#pile-selector .component-root {
  @include display-flex;
  @include flex-flow(column nowrap);
  @include align-items(stretch);
  @include justify-content(stretch);

  .selector {
    @include display-flex;
    @include flex-flow(row nowrap);

    .filter-container {
      $icon-width: 30px;

      @include display-flex;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      position: relative;
      i.fa {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        width: $icon-width;
        position: absolute;
        left: 0;
        height: 100%;
        color: #666;
      }
      input {
        @include display-flex;
        background-color: transparent;
        padding-right: 10px;
        padding-left: $icon-width;
        border: none;
      }
      input:focus ~ i.fa {
        color: #000;
      }
    }

    ul {
      @include display-flex;
      @include flex(1);
      @include flex-shrink(0);
      @include align-items(stretch);
      @include justify-content(flex-start);
      overflow-x: auto;
      white-space: nowrap;
      list-style: none;
      padding: 0;
      text-align: center;
      li.pile {
        @include display-flex;
        @include flex-shrink(0);
        @include flex-grow(1);
        @include justify-content(center);
        padding: 5px 20px;
        cursor: pointer;
        color: #666;
        border-bottom: 1px solid #eee;
        &:hover {
          color: #000;
        }
        &.placeholder {
          @include justify-content(flex-end);
          color: #ccc;
        }
        .match {
          color: #000;
        }
        .non-match {
          color: #ccc;
        }
      }
    }
  }

  .current-pile {
    margin: 10px 0;
    text-align: center;
  }
}
