#pile-selector .pile-selector {
  @include display-flex;
  @include flex-flow(row nowrap);
  @include align-items(stretch);
  @include justify-content(stretch);
  ul {
    @include display-flex;
    @include flex(1);
    @include flex-shrink(0);
    @include align-items(stretch);
    @include justify-content(flex-start);
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    padding: 0;
    text-align: center;
    li.pile {
      @include display-flex;
      @include flex-shrink(0);
      @include flex-grow(1);
      @include justify-content(center);
      padding: 5px 20px;
      cursor: pointer;
      color: #666;
      margin-bottom: 40px;
      border-bottom: 1px solid #eee;
      &:hover {
        color: #000;
      }
      &.current-pile {
        margin-top: 40px;
        cursor: default;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(#000, .75);
        color: #fff;
        border-bottom: none;
        border-radius: 4px;
      }
      &.placeholder {
        color: #ccc;
      }
    }
  }
  .add-pile {
    @include display-flex;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 5px 20px;
    margin-bottom: 40px;
    color: #33d;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
  .filter-container {
    $icon-width: 20px;

    @include display-flex;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-bottom: 40px;
    position: relative;
    i.fa {
      @include display-flex;
      @include align-items(center);
      width: $icon-width;
      position: absolute;
      right: 0;
      height: 100%;
      color: #666;
    }
    input {
      @include display-flex;
      background-color: transparent;
      padding-left: 10px;
      padding-right: $icon-width;
      border: none;
    }
    input:focus ~ i.fa {
      color: #000;
    }
  }
}
